.chat-container {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
}


.sidebar {
    width: 300px;
    background: #f4f4f4;
    padding: 15px;
    border-right: 1px solid #ddd;
    overflow-y: auto;
}

.message {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.sent {
    justify-content: flex-end;
}

.received {
    justify-content: flex-start;
}

.message-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.search-bar {
    width: 260px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.user {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 10px;
    transition: background 0.3s;
}

.user:hover {
    background: rgba(205, 255, 226, 0.96);
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    flex-grow: 1;
}

.user-name {
    font-weight: bold;
}

.user-status {
    font-family: "Cambria Math";
    font-size: 14px;
    margin-top:-10px;
    color: gray;
}


.chat-window {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: white;
    width: 1200px;
}

.chat-header {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.chat-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.messages {
    flex-grow: 1;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.message {
    max-width: 60%;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

.sent {
    background: #c3b4ff;
    align-self: flex-end;
    color: white;
}

.received {
    background: #b7f5b7;
    align-self: flex-start;
}


.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    border-radius: 10px;
    background: transparent;
    font-family: "Prompt", sans-serif;
}

.chat-input input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.chat-input button {
    background: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.chat-input button:hover {
    background: #45a049;
}
